{% load djbofficetags %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

<section id="multiple-column-form">
    <div class="row match-height">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Form {{ title_page }}</h4>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <form class="form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="text-danger">
                                    {{ form.non_field_errors }}
                                </div>
                                {% for field in form %}
                                    {% if field.field.widget.input_type == 'checkbox' %}
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    {{ field|addclass:'form-check-input'}}
                                                    <label>{{ field.label }}</label>
                                                </div>
                                                <small class="text-muted">{{ field.help_text }}</small>
                                                <small class="text-danger">{{ field.errors }}</small>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="col-md-6 col-12">
                                            <div class="form-group">
                                                <label>{{ field.label }}</label>
                                                {{ field|addclass:'form-control'}}
                                                {% if field|field_type == 'DateTimeInput'  %}
                                                    <script>
                                                        flatpickr("#{{ field.auto_id }}", {
                                                            enableTime: true,
                                                            dateFormat: "Y-m-d H:i",
                                                        });
                                                    </script>
                                                {% elif field|field_type == 'DateInput'  %}
                                                    <script>
                                                        flatpickr("#{{ field.auto_id }}", {});
                                                    </script>
                                                {% endif %}
                                                <small class="text-muted">{{ field.help_text }}</small>
                                                <small class="text-danger">{{ field.errors }}</small>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                <div class="col-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary me-1 mb-1">
                                        {% if btn_submit_name %} {{ btn_submit_name }} {% else %} Submit {% endif %}
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>