<div class="btn-group mb-1">
    <div class="dropdown">
        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-ellipsis-h"></i>
        </button>
        <div class="dropdown-menu" style="">
            <a class="dropdown-item" href="{% url detail_url record.id %}"><i class="fa fa-eye"></i> Show</a>
            {% if edit_url %}
                <a class="dropdown-item" href="{% url edit_url record.id %}"><i class="fa fa-edit"></i> Edit</a>
            {% endif %}
            {% if delete_url %}
                <button class="dropdown-item text-danger button-delete"
                        data-object_name="{{ record }}"
                        data-object_delete_url="{% url delete_url record.id %}">
                    <i class="fa fa-trash"></i> Delete
                </button>
            {% endif %}
        </div>
    </div>
</div>