{% extends 'djlakang/base.html' %}
{% load static %}
{% load django_tables2 %}

{% block title %}
    {{ title_page }}
{% endblock %}

{% block content %}
    <div class="page-heading">
        <div class="page-title">
            <div class="row mb-3">
                <div class="col-12 col-md-6 order-md-1 order-first">
                    <h3>{{ title_page }}</h3>
                    <p class="text-subtitle text-muted">{{ sub_title_page }}</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-last">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        {% if add_url %}
                            <a href="{% url add_url %}" class="btn btn-primary rounded-pill"><i
                                    class="fa fa-plus-circle"></i> Add</a>
                        {% endif %}
                    </nav>
                </div>
            </div>
        </div>

        <!-- Basic Tables start -->
        <section class="section">
            <div class="card">
                <div class="card-header">
                    {{ title_page }}
                </div>
                <div class="card-body">
                    {% if use_search_form %}
                        <form class="row g-3">
                            <div class="col-auto">
                                <input type="text" class="form-control" name="term" placeholder="Keyword" value="{{ search_term }}">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-3">Search</button>
                            </div>
                        </form>
                    {% endif %}
                    <div class="table-responsive">
                        {% render_table table table_template %}
                    </div>
                </div>
            </div>
        </section>
        <!-- Basic Tables end -->
    </div>
{% endblock %}

{% block extra_js %}
    {% include 'djlakang/includes/confirmation_delete_js.html' %}
{% endblock %}